<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<app-header-datos [color]="color" [nombreTenant]="nombreTenant"></app-header-datos>

<p></p>
<p></p>

<div class="grey-bg container-fluid">
    <section id="minimal-statistics">
        <div class="row">
            <div class="col-12 mt-3 mb-1">
                <h4 class="text-uppercase">Datos</h4>
                <p>Humedad &amp; temperatura.</p>
            </div>
        </div>


        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="icon-cup font-large-2 float-right" style="color: {{color}};"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h3>{{humedadPromedio}} %</h3>
                                    <span>Humedad promedio</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="icon-energy font-large-2 float-left'" style="color: {{color}};"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h3>{{temperaturaPromedio}} °C</h3>
                                    <span>Temperatura promedio</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="stats-subtitle">
        <div class="row">
            <div class="col-12 mt-3 mb-1">
                <h4 class="text-uppercase">Gráficas</h4>
                <p>Humedad &amp; temperatura.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <app-graph [color]="color" (humedadPromedioToParent)="obtenerPromedioHumedad($event)"
                        (temperaturaPromedioToParent)="obtenerPromedioTemperatura($event)"></app-graph>
                </div>
            </div>
        </div>

    </section>
</div>