<div id="chart">
    <div class="row">

        <apx-chart [colors]="chartOptionsTemperature.colors" [series]="chartOptionsTemperature.series"
            [chart]="chartOptionsTemperature.chart" [xaxis]="chartOptionsTemperature.xaxis"
            [dataLabels]="chartOptionsTemperature.dataLabels" [grid]="chartOptionsTemperature.grid"
            [stroke]="chartOptionsTemperature.stroke" [title]="chartOptionsTemperature.title"></apx-chart>



        <apx-chart [colors]="chartOptionsHumidity.colors" [series]="chartOptionsHumidity.series"
            [chart]="chartOptionsHumidity.chart" [xaxis]="chartOptionsHumidity.xaxis"
            [dataLabels]="chartOptionsHumidity.dataLabels" [grid]="chartOptionsHumidity.grid"
            [stroke]="chartOptionsHumidity.stroke" [title]="chartOptionsHumidity.title">
        </apx-chart>


    </div>

</div>